<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Spokenvote", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <% if current_user %>
              <li>Logged in as <%= current_user.username %></li>
              <li><%= link_to "Log out", log_out_path %></li>
            <% else %>
              <li><%= link_to "Sign up", sign_up_path %></li>
              <li>or</li>
              <li><%= link_to "Sign in", log_in_path %></li>
            <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>